body{
    background-image: url("./assets/Imagem\ palacio.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 20px 0 0 0;
        min-height: 100vh;
        @media(max-width: 480px){
            padding: 0;
            justify-content: space-between;
        }
    
        h1{
            color: #FFFFFF;
            font-size: 60px;
            @media (max-width: 1280px){
                font-size: 55px;
            }
            @media (max-width: 768px){
                font-size: 32px;
            }
            @media (max-width: 480px){
                font-size: 20.5px;
                word-spacing: 3px;
                text-align: center;
                margin-top: 15px;
            }
            @media (max-width: 390px){
                font-size: 18px;
            }

        }
           
        
        img{
            width: 600px;
            height: 550px;
            @media(max-width: 768px){
                width: 680px;
                height: 630px;
            }
            @media (max-width: 480px){
                width: 410px;
                height: 360px;
            }
            @media (max-width: 390px){
                width: 370px;
                height: 320px;
            }
        }
    
        
    }
    
}





